.gedit-side-panel-paned.pane-separator:dir(ltr),
.gedit-side-panel-paned.pane-separator:hover:dir(ltr) {
    border-radius: 0;
    border-width: 0 1px 0 0;
}

.gedit-side-panel-paned.pane-separator:dir(rtl),
.gedit-side-panel-paned.pane-separator:hover:dir(rtl) {
    border-radius: 0;
    border-width: 0 0 0 1px;
}

GeditFileBrowserWidget .small-button {
  padding: 2px 4px;
}
